@mixin hover_btn {
    &:hover {
      transition: 1s all;
      background: $color_red;
    }
  }

  @mixin hover_link_blue {
    &:hover {
      transition: 1s all;
      color: $color_blue;
    }
  }