$color_blue: #1eacc7;
$color_red: #ff5656;
@mixin hover_btn {
  &:hover {
    transition: 1s all;
    background: $color_red;
  }
}

@mixin hover_link_blue {
  &:hover {
    transition: 1s all;
    color: $color_blue;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: aliceblue;
  font-family: "Roboto-sans-serif";
}
header {
  position: relative;
  width: 100%;
  height: 100%;
}
nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  min-height: 50px;
  background-color: #212121;
}
.menu {
  padding: 13px 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}
.menu__item {
  padding-right: 34px;
  border-right: 3px black dotted;
}
.menu__link {
  @include hover_link_blue;
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
}
.sub__header {
  position: absolute;
  margin-top: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  mix-blend-mode: normal;
  min-height: 87px;
}
.sub__header__logo__link {
  display: block;
  margin-top: 19px;
}
.sub__header__logo__link__img {
  max-width: 100%;
}
.sub__header__logo__text {
  margin-top: 8px;
  font-weight: 100;
  font-size: 13px;
}
.sub__header__tel {
  text-align: right;
}
.sub__header__tel__text {
  margin-top: 24px;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}
.sub__header__tel__phone {
  display: block;
  margin-top: 4px;
  text-decoration: none;
  font-weight: 400;
  font-size: 22px;
}
.sub__header__btn {
  display: block;
  margin-top: 22px;
  width: 172px;
  height: 46px;
  background: linear-gradient(0deg, #1eacc7 0%, $color_blue 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  @include hover_btn;
}
.promo {
  padding: 219px 0 186px 0;
  min-height: 800px;
  background: url("/src/img/bg/uber_bg.jpg") center center/cover no-repeat;
}
.promo__text__header {
  text-align: center;
  font-weight: 900;
  font-size: 60px;
  line-height: 24px;
}
.promo__text__subheader {
  margin-top: 24px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}
.promo__text__descr {
  margin: 0 auto;
  width: 986px;
  word-wrap: normal;
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.promo__btn {
  cursor: pointer;
  display: block;
  margin: 115px auto;
  width: 259px;
  height: 63px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  @include hover_btn;
}
.reason {
  margin: 18px auto;
  min-height: 767px;
  .row {
    margin-top: 16px;
  }
}
.reason__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
}
.label {
  margin: 0 auto;
  width: 115px;
  height: 27px;
  background: #000000;
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.title {
  margin-top: 32px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #222222;
  text-align: center;
  text-transform: uppercase;
}

.sub__title {
  margin: 19px auto;
  width: 825px;
  height: 21px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;

  text-align: center;

  color: #222222;
}

.reason__circle {
  width: 116px;
  height: 116px;
  background: #1eacc7;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}
.reason__item__text {
  max-width: 370px;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
  span {
    font-weight: 400;
    font-size: 17px;
    color: $color_blue;
  }
}

.mobile {
  padding: 46px 0 86px 0;
  min-height: 864px;
  background: url("/src/img/bg/mobile_bg.png") center center/cover no-repeat;
  .row {
    .col-md-4 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__item {
    border-radius: 20px;
    position: relative;
    margin: 13px 0 19px 0;
    padding-top: 92px;
    width: 320px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__text {
      font-weight: 400;
      font-size: 22px;
      line-height: 31px;
      text-transform: uppercase;
    }
    &__plus {
      cursor: pointer;
      position: absolute;
      bottom: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 29px;
      height: 29px;
      background: #000000;
      border-radius: 100%;
      .img {
        width: 100%;
      }
      @include hover_btn;
    }
    &__1 {
      background: url("/src/img/card_1.png") center center/cover no-repeat;
    }
    &__2 {
      background: url("/src/img/card_2.png") center center/cover no-repeat;
    }
    &__3 {
      background: url("/src/img/card_3.png") center center/cover no-repeat;
    }
    &__4 {
      background: url("/src/img/card_4.png") center center/cover no-repeat;
    }
    &__5 {
      background: url("/src/img/card_5.png") center center/cover no-repeat;
    }
    &__6 {
      background: url("/src/img/card_6.png") center center/cover no-repeat;
    }
  }
}

.choice {
  position: relative;
  min-height: 898px;
  padding: 57px 0 137.5px 0;
  background: url("/src/img/bg/Подложка.png") center center/cover no-repeat;
  .label {
    position: relative;
    background: #ffff;
    color: #000000;
    z-index: 2;
  }
  .title {
    position: relative;
    color: #ffff;
    z-index: 2;
  }
  .sub__title {
    position: relative;
    color: #ffff;
    z-index: 2;
  }
  &__top {
    position: absolute;
    width: 100%;
    background: #070716;
    margin: 0 auto;
    left: 0;
    height: 502px;
    z-index: 1;
    &__car {
      position: relative;
      margin: 54px auto 0 auto;
      width: 759px;
      height: 480px;
      z-index: 2;
      display: block;
      margin: 0 auto;
      z-index: 2;
    }
  }
  &__text {
    text-align: center;
    color: #000000;
  }
}

.require {
  padding: 66px 0 87px 0;
  &__block {
    margin: 30px 0;
    &__nmb {
      margin-bottom: 0px;
    }
  }
  &__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: $color_blue;
    &__red {
      color: $color_red;
    }
  }

  &__descr {
    margin-top: 25px;
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: $color_blue;
  }
  &__list {
    list-style-type: none;
    margin-top: 20px;
    &__red {
      color: $color_red;
    }
    &__item {
      color: #000000;
      position: relative;
      line-height: 25px;
      &:before {
        position: absolute;
        left: -32px;
        content: "";
        top: 3px;
        margin-right: 8px;
        display: inline-block;
        width: 21px;
        height: 21px;
        background: url("/src/icons/check_blue\ 1.svg") center center/cover
          no-repeat;
      }
      &__red {
        &:before {
          position: absolute;
          left: -32px;
          content: "";
          top: 3px;
          margin-right: 8px;
          display: inline-block;
          width: 21px;
          height: 21px;
          background: url("/src/icons/check_red\ 1.svg") center center/cover
            no-repeat;
        }
      }
    }
  }
}

.world {
  min-height: 716px;
  background: #080816;
  &__content {
    padding: 48px 0 21px 0;
    background: url("/src/img/bg/world_bg.jpg") center center/cover no-repeat;
    min-height: 719px;
    &__link {
      margin-top: 456px;
      display: block;
      text-align: center;
      text-transform: uppercase;
      color: $color_blue;
    }
  }
  .label {
    position: relative;
    background: #ffff;
    color: #000000;
  }
  .title {
    position: relative;
    color: #ffff;
  }
  .sub__title {
    position: relative;
    color: #ffff;
  }
}

.footer {
  min-height: 156px;
  padding: 14px 21px;
  &__divider {
    margin: 0 auto;
    width: 299px;
    height: 4px;
    background-color: $color_blue;
  }
  &__wrapper {
    margin-top: 31px;
    display: flex;
  }
  &__social {
    display: flex;
    gap: 11px;
    margin-right: 360px;
    &__item {
      display: flex;
      width: 35px;
      height: 35px;
      border-radius: 100%;
      background-color: #000000;
      align-items: center;
      text-decoration: none;
      justify-content: center;
      i {
        color: #ffff;
        @include hover_link_blue;
      }
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    gap: 15px;
    margin-right: 220px;
    &__main {
      display: flex;
      justify-content: center;
      gap: 48px;
      a {
        text-decoration: none;
        font-size: 15px;
        color: #000000;
        @include hover_link_blue;
      }
    }
    &__sub {
      display: flex;
      gap: 22px;
      a {
        text-decoration: none;
        font-size: 11px;
        color: #000000;
        @include hover_link_blue;
      }
    }
    &__lang {
      display: block;
      margin: 0 auto;
      text-transform: uppercase;
      text-decoration: none;
      color: $color_blue;
      font-size: 11px;
    }
  }
}
